@import "../common/variable";

* {
    margin: 0;
    padding: 0;
}
body {
    color: $gray;
    line-height: 1.4;
    font-size: 13px;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
input {
    outline: none;
    padding: 1px 10px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $green;
}
em {
    font-style: normal;
}
