@mixin display($dis:null, $fdir:null, $just:null, $ali:null, $atRow:null, $atCol:null, $atFlow:null, $tRow:null, $tCol:null, $aliC:null, $gap:null) {
    display: $dis;
    flex-direction: $fdir;
    justify-content: $just;
    align-content: $aliC;
    align-items: $ali;
    grid-auto-rows: $atRow;
    grid-auto-columns: $atCol;
    grid-auto-flow: $atFlow;
    grid-template-rows: $tRow;
    grid-template-columns: $tCol;
    grid-gap: $gap;
}

@mixin position($pos:null, $t:null, $r:null, $b:null, $l:null, $z:null) {
    position: $pos;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    z-index: $z;
}

@mixin image($url, $size:null, $pos:null, $rep:null,$ath:null) {
    background-image: url( $url );
    background-size: $size;
    background-position: $pos;
    background-repeat: $rep;
    background-attachment: $ath;
}

@mixin h2($color:null){
    font-size: 3.5rem;
    padding-bottom: 20px;
}

@mixin strong($ali:null){
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 30px;
}