// color variable

$black: #000;
$white: #fff;
$green:#003628;
$lightGreen: #d6e7d0;
$lightGreen-1: #eaf3e7;
$gray: #717171;
$yellow:#cba977;
$shadow-5: rgba(0,0,0,0.5);
$shadow-1: rgba(0,0,0,0.1);

// responsive variable
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;