@import "./layout";
@import "../common/mixin";
@import "../common/base";
@import "../common/placeholder";
@import "../common/variable";

.menu{
    @include position($pos:fixed, $l:0, $t:0, $z:100);
    box-sizing: border-box;
    width: 50vw;
    height: 100vh;
    display: none;
    
    ul{
        margin-top: 10px;
        justify-self: center;
        span{
            color: $yellow;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
        }
        li{
            margin-top: 5px;
            font-size: 18px;
            font-weight: 500;
        }
    }
    .menu__product, .menu__introduce{
        @include image($url:"../image/etc/bg_choice_pattern.png",$size:20px,$pos:left -100px,$rep:repeat-x);
        height: 50vh;
    }
    .menu__btn--close{
        @include image($url:"../image/header/btn-acl-close.png",$size:cover,$rep:no-repeat);
        @include position($pos:absolute,$t:20px,$l:20px);
        width: 25px;
        height: 25px;
    }
    .menu__product{
        background-color: $lightGreen;
    }
    .menu__introduce{
        background-color: $lightGreen-1;
    }
    .menu--dim{
        @include position($pos:fixed, $r:0,$t:0,$z:1000);
        width: 50vw;
        height: 100vh;
        background-color: $shadow-5;
        cursor: pointer;
    }
}