@import "../common/mixin";

@include mobile {
    // header
    .container{
        display: none;
    }
    .head{
        input{
            display: none;
        }
        form{
            .head__member, .head__cart{
                display: inline-block;
            }
        }
    }
    // menu
    .menu{
        width: 100vw;
        .menu__layout ul{
            display: flex;
            flex-direction: column;
        }
        .menu--dim{
            width: 0;
        }
    }
    
    // video
    .video{
        .video--box{
            width: 100vw;
        }
    }
}

@include tablet {
    // header
    .container{
        display: none;
    }
    .head{
        input{
            display: none;
        }
        form{
            .head__member, .head__cart{
                display: inline-block;
            }
        }
    }
    // video
    .video{
        .video--box{
            width: 100vw;
        }
    }
}

@include desktop {
    
}