@import "../../common/base";
@import "../../common/mixin";
@import "../../common/placeholder";
@import "../../common/variable";

.certi {
    @include display($dis:flex, $just:center, $ali:center);
    @include image($url:"../image/etc/bg_stripe.png");
    color: $green;
    height: auto;
    padding: 50px 0;

    .certi__content {
        width: 95vw;
        height: 90%;
        background-color: $white;
        padding-bottom: 50px;

        .certi__content__text {
            margin: 30px 50px 0 100px;
            grid-column: 1/3;
            text-align: center;
            h2 {
                @include h2;
            }
            strong {
                @include strong;
            }
            p {
                margin: 0 auto;
                width: 100%;
                font-size: 18px;
                font-weight: lighter;
            }
            span {
                font-weight: 500;
            }
        }
        img {
            justify-self: end;
            margin-right: 50px;
        }
        .certi__content__list {
            margin-right: 50px;
            li {
                font-size: 14px;
                line-height: 1.6;
                margin-bottom: 20px;
                font-weight: 600;
            }
            button {
                color: $white;
                margin: 20px 0;
                font-size: 1.1rem;
                font-weight: 600;
                width: 250px;
                height: 50px;
                background-color: $green;
            }
        }
    }
}
