.amazon(class="amazon__layout")
    h2 World proven quality
    img(src="../image/etc/img_amz.png", alt="아마존 로고")
    strong 아마존 베드룸 카테고리 부문 베스트 셀러!
        br
        | 지누스의 북미 누적 리뷰가 500,000개를 돌파했습니다.
        br
        | 북미 소비자들의 생생한 목소리를 여기에서 확인하세요.