include ../../common/mixin.pug
include ../../common/variable.pug

.banner(class="banner__layout no-drag")
    .banner__text
            +sectionTitle(bannerTitle,bannerText,true)
    .banner__scroll
        button.banner__scroll__img