include ../../common/variable
include ../../common/mixin

sections.certi
    .certi__content(class="certi__layout")
        .certi__content__text
            +sectionTitle(certiTitle,certiText,true)
            p CertiPUR-US® 인증마크는 미국 환경 보호국의 엄격한 기준을 통과한 매트리스에만 부여됩니다.
                br
                | 화학 성분이 사람의 건강이나 환경에 미치는 피해 여부에 대해 깐깐한 검증을 거치는 시스템으로,
                br
                | 세계적으로 신뢰도가 높고 권위 있는 인증 중 하나입니다. 
                br
                span 지누스는 국내 판매 중인 CertiPUR-US® 인증 제품 중
                    | 가장 합리적인 가격의 매트리스를 선보이고 있습니다.
        img(src="./image/etc/img_certi.png", alt="인증서 이미지")
        .certi__content__list
            ul
                +list(certListText)
            button(type="button") 인증서 확인하기