section.video
    h2 Tales from the box
    strong 그녀에게 배달된 상자 하나.
        br 
        | 상자를 여는 순간,
        br 
        | 특별하고 놀라운 이야기가 시작됩니다.
    button.video--btn--open(type="button")
    .video--box
        button.video--btn--close(type="button")
        iframe(width="100%" height="100%" src="https://www.youtube.com/embed/XLz8K3JY0jA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)