include ../../common/mixin.pug
include ../../common/variable.pug

section.video
    +sectionTitle(videoTitle,videoText,true)
    button.video--btn--open(type="button")
    .video--box
        button.video--btn--close(type="button")
        iframe(width="100%" height="100%" src="https://www.youtube.com/embed/XLz8K3JY0jA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)