include ../../common/mixin.pug
include ../../common/variable.pug

sections.wonder(class="wonder__layout")
    +sectionTitle(wonderTitle,"",false)
    .wonder__content(class="wonder__content__layout")
        +wonderBox("../image/etc/ico_wonder01.png",wonderStrongT1,wonderT1)
        +wonderBox("../image/etc/ico_wonder02.png",wonderStrongT2,wonderT2)
        +wonderBox("../image/etc/ico_wonder03.png",wonderStrongT3,wonderT3)