-testiBoxOneH3Text = '"배송이 간편하고, 조립하기도 정말 쉬웠어요."';
-testiBoxOnePText = "상자 안에서 꺼내기만 했어요. 조립은 설명서만 읽어도 충분했죠.";
-testiBoxTwoH3Text = '"메모리폼 매트리스에 대한 편견을 완전히 없애준 제품."';
-testiBoxTwoPText = "최적의 지지력과 체온 조절 기능으로 숙면을 도와줬어요.";
-testiBoxThreeH3Text = '"가격 대비 환상의 품질. 허리 통증과 수면 무호흡증이 사라졌어요!"';
-testiBoxThreePText = "저렴한 가격에 좋은 매트리스를 샀어요. 매일 건강해짐을 온몸으로 느낍니다.";