footer.footer(class="footer__layout")
    nav.footer__nav
        ul
            li
                a(href="#")
                    img(src="./image/banner/logo-white.png", alt="footer-logo")
            li
                a(href="#") 개인정보취급방침
            li
                a(href="#") 이용약관
            li
                a(href="#") 제휴 문의
            li
                a(href="#") 공지사항
            li
                a(href="#") ZINUS US
            li
                a(href="#") IR
    .footer__policy
        p 상호명 : (주)지누스 | 대표 : 이윤재 | 메일 : customer-korea@zinus.com
        p 전화 : 031-622-1706 | 팩스 : 031-622-1701 | 사업자등록번호 : 124-81-28792
        p 주소 : 경기도 성남시 분당구 야탑로81번길 10(분당아미고타워) 8층 | 개인정보관리자 : 김기훈 | 통신판매업신고번호 : 2016-경기성남-0844 © ZINUS
    .footer__certify
        button 구매안전 서비스 가입사실 확인서
    .footer__one
        span 고객센터
        strong 1811-8002
        strong 031-622-1706
        p 평일 10:00 ~ 17:00 
            br
            |점심시간 11:45 ~ 12:45 
            br
            |(토요일, 일요일, 공휴일 휴무)