<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ZINUS - Live in Wonder
        link(rel="stylesheet", href="../css/zinus.css")
    body
        include ./views/import/header

        include ./views/import/sections/banner
        main
            include ./views/import/sections/video
            include ./views/import/sections/delivery
            include ./views/import/sections/amazon
            include ./views/import/sections/testi
            include ./views/import/sections/certi
            include ./views/import/sections/wonder
            include ./views/import/sections/choice

        script(src="../js/headerScroll.js")
        script(src="../js/videoOpen.js")
